<div>
  <h1><%= @music.title %></h1>
  <h3><%= @music.author %><small> (posted by: <%= @music.user.username %>)</small></h3>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/<%= @music.url.split('/')[-1] %>" allowfullscreen></iframe>
  </div>
  <div class="reviews">
    <h2>Comments</h2>
    <% @music.reviews.order(created_at: :DESC).each do |review| %>
    <div class="review">
      <% if user_review?(review) %>
      <div class="review-remove"><a href="/music/<%= @music.id %>/review/delete/<%= review.id %>"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
      </div>
      <% end %>
      <p><%= review.review %></p>
      <div><strong><%= review.user.username %></strong> <small>at <%= review.created_at %></small> <div class="user_review_stars_container"><% unless review.stars.nil? %><input class="user_review_stars" value="<%= review.stars %>" /><% end %></div></div>
    </div>
    <% end %>
  </div>
  <% if logged_in? && @music.reviews.where(user_id: current_user.id).empty? %>
  <div class="review_form_container">
    <form id="review_form" action="/music/review/new" method="post">
      <div class="form-group">
        <input type="hidden" name="id" value="<%= @music.id %>" />
        <input type="hidden" id="num_stars" name="num_stars" value='' />
        <label for="review_text">Review: </label>
        <div id="review_form_rate"></div>
        <textarea class="form-control" id="review_text" name="review_text"></textarea>
      </div>
      <input type="submit" value="Submit my review">
    </form>
  </div>
  <% end %>
</div>